/* CSS Document */
.header{
	position: absolute;
	z-index: 1;
	background: white;
	margin: 0 auto;
	width: 100%;
	position: fixed;
}
.nav>ul{
	list-style: none;
	display: flex;
	justify-content: space-between;
	
}
.sub>.sub-ul{
	list-style: none;
}
.nav li{
	margin: 12px;
	position: relative;
}
.nav li>a{
	text-decoration: none;
	color:rgba(24,33,245,1.00)
}
.sub-ul li>a{
	color: white;
}
.sub-ul{
	width: 200px;
	height: 0;
	background: rgba(31,56,231,1.00);
	position: absolute;
	overflow: hidden;
	transition: 0.2s;
	top: 25px;
}
.nav li:hover .sub-ul{
	height: auto;
	padding: 8px;
}
.nav li a:hover {
color: #FFFFFF;
text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px red, 0 0 30px red, 0 0 40px red, 0 0 55px red, 0 0 75px red;
}
.banner{
	height: 100vh;
	overflow: hidden;
}
.banner video{
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: relative;
}
.content{
	width: 500px;
	position: absolute;
	top: 200px;
	right: 50px;
	color: white;
	text-align: right
}
.content>h1{
	font-size: 30px;
}
.content>p{
	margin: 15px 0;
	color: white;
}
.butom{
	text-decoration: none;
	color: white;
	margin: 20px 0;
	width: 25px;
	background: rgba(125,225,240,1.00);
	padding: 4px;
}
.content .butom:hover{
	background: rgba(12,186,166,1.00);
}
.section{
	margin: 40px 0;
}
.sevirce{
	padding: 20px 0;
}
.sevirce h1{
	magin: 30px 0;
	text-align: center;
	color:blue;
}
.card{
	border-radius: 25px;
	box-shadow: 12px 12px 25px grey;
	overflow: hidden;
}
.feature{
	height: 220px;
}
.feature img{
	height: 100%
}
.text-2{
	padding: 15px;
}
.text-2 p{
	magin:12px 0;
}
.text-2 .row a{
	text-decoration: none;
	padding: 4px;
	background: red;
	color: white;
	border-radius: 10px;
}
.banner-1{
	height: 100vh;
	overflow: hidden;
}
.banner-1 video{
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: relative;
}
.content-1{
	width: 500px;
	position: absolute;
	top: 2400px;
	right: 50px;
	color: white;
	text-align: right
}
.content-1 p{
	color: white
}
.OurProject{
	margin: 50px 0;
}
.OurProject h1{
	magin: 50px 0;
	text-align: center;
	color:blue;
}
.card-1{
	border-radius: 25px;
	box-shadow: 12px 12px 25px grey;
	overflow: hidden;
}
.row .card:hover{
	background: rgba(68,125,240,0.73);
	color: white;
}
.row .card a:hover{
	background: rgba(54,33,238,0.76)
}
/*
.feature{
	height: 220px;
}
.feature img{
	height: 100%
}
*/
.text-3{
	padding: 15px;
}
.text-3 p{
	magin:12px 0;
}
.text-3 .row .a1{
	text-decoration: none;
	padding: 4px;
	background: red;
	color: white;
	border-radius: 10px;
	margin: 5px 0;
}
.Ourcustormer{
	margin: 50px 0;
}
.Ourcustormer h1{
	magin: 50px 0;
	text-align: center;
	color:blue;
}
.row .card-1:hover{
	background: rgba(68,125,240,0.73);
	color: white;
}
.row .card-1 .a1:hover{
	background: rgba(54,33,238,0.76)
}
.content-2{
	text-align: center;
}
.feature-2 img{
	width: 100%;
}
.footer{
	margin: 50px 0;
	background: rgba(57,235,217,0.81)
}
.finaltext{
	padding: 12px;
	text-align: center;
	color: white
}
.finaltext h3{
	magin:8px 0;
	color: white
}
.finaltext p{
	color: white
}
